# Node
node_modules
**/node_modules

# Logs
*.log
npm-debug.log*

# Git
.git
.gitignore

# Build/Dist
dist
.turbo
build
out
*.tsbuildinfo

# Misc
bin
.DS_Store
.env
.env.*
!.env.example
.pnpm-store
pnpm-lock.yaml.lock
