PROJECT_NAME=project_directory
PROJECT_PARENT_PATH=parent_directory/project_directory
PROJECT_PATH=~/parent_directory/project_directory
LOCAL_DOCKER_DESKTOP_CATALOG={PATH_TO_DOCKER_INSTALLATION}/.docker/mcp

# Database Credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

# Connection Strings
# Fill in project name for Taskfile env due to not interpolating environment variables
DATABASE_URL=postgresql://postgres:${POSTGRES_PASSWORD}@supabase_db_${PROJECT_NAME}:5432/postgres
TASKFILE_DATABASE_URL=postgresql://postgres:postgres@supabase_db_(FILL IN PROJECT NAME HERE):5432/postgres
LOCAL_DATABASE_URL=postgresql://postgres:postgres@localhost:54322/postgres
TEST_USER_ID={VALUE_GENERATED_BY_SUPABASE_AUTH_USERS_TABLE}

SUPABASE_URL=http://host.docker.internal:54321
SUPABASE_ANON_KEY={SUPABASE_ANON_KEY}
SUPABASE_SERVICE_ROLE_KEY={SUPABASE_SERVICE_ROLE_KEY}
VITE_SUPABASE_URL=http://localhost:54321

S3_ENDPOINT=http://127.0.0.1:54321/storage/v1/s3
S3_ACCESS_KEY_ID={S3_ACCESS_KEY_ID}
S3_SECRET_ACCESS_KEY={S3_SECRET_ACCESS_KEY}
S3_REGION=local

LOCAL_MCP_REGISTRY={PATH_TO_MCP_REGISTRY}/.docker/mcp
GEMINI_API_KEY={VALUE}

